<html>
    <head>
        <title>Sample Flask+Celery App</title>
    </head>
    <body>
        <h1><a href="/">Celery and Flask Test App</a></h1>
        <h1>Create Task</h1>
        <form action="/">
            <label for="message">Message:</label><input name="message" value="Hello world!"/><br/>
            <label for="message">Delay:</label><input name="delay" value="10" /><br/>
            <input type="submit"/>
        </form>
        {% if task_id is not none %}
            <h1>Task Status</h1>
            <ul>
                <li>Task Id: {{ task_id }}</li>
                <li>Complete? {{ ready }}</li>
                {% if ready %}
                    <li>Message: {{ message }}</li>
                {% endif %}
                <li><a href="/?task_id={{ task_id }}">Check Again</a></li>
            </ul>
        {% endif %}
    </body>
</html>